.btn-wrapper {
  display: flex;
  gap: 15px
}

.btn-wrapper button {
  text-transform: capitalize;
  cursor: pointer;
}

.statistics-list {
  list-style-type: none;
  padding: 0;
  text-transform: capitalize;
}
